@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
    --primary:#000;
    --secondary: #fff;
    --onlyBody: #fff;

    --primaryLogin:#000;
    --secondaryLogin: #fff;

    --headerOne:#DDD;
    --sidebarMenu: #1c1b1b;
    --headerOneButton: #333;
    --hoverColor: #900C3F;
    --listBeforeHover: #888888;
    --callToAction: #D70000;
    --langBorder: #CCC;
    --langText: #666;
    --borderFooter: #262626;
}

.dark-mode {
    --primaryLogin:#fff;
    --secondaryLogin: #000;
    --onlyBody: #151217;
    --callToAction: #6C0E23;
    --hoverColor: #480917;
}

html.nietScrollen {
    position: fixed;
    overflow:hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--onlyBody);
}




/* Header Section 1 */

header > section:first-of-type {
    background-color: var(--headerOne);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    line-height: 1.1;
}

header > section:first-of-type > p {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: var(--primary);
    font-size: 0.95em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top:0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;
}

header > section:first-of-type > a {
    background-color: var(--headerOneButton);
    color: var(--secondary);
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    outline: none;
    border-radius: .2em;
    padding: 0.6em 1.1em;
    margin-top: .5em;
    margin-bottom: .5em;
}


/* Header Section 2 */

header > section:nth-of-type(2) {
    position: sticky;
    top: 0;
    background-color: var(--primary);
    width: 100%;
    height: 3em;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    display:grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    z-index: 100;
}

header > section:nth-of-type(2) > a {
    margin: 0;
    padding: 0;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: -100;
}

header > section:nth-of-type(2) > a > img {
    width: 8.125em;
    height: auto;
    z-index: 100;
    text-align: center;
}

@media (min-width: 40em) {
    header > section:nth-of-type(2) {
        margin: 0;
        padding: 0;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    header > section:nth-of-type(2) > a {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5em;
        position: relative;
    }

    header > section:nth-of-type(2) > a > img {
        margin: 0;
        padding: 0;
        width: 16em;
        position: absolute;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* Sidebar Open Button */

header > section:nth-of-type(2) > ul {
    margin: 0;
    padding: 0;
}

header > section:nth-of-type(2) > ul > li > button {
    width: 1.5em;
    height: 1.5em;
    appearance: none;
    background-color: transparent;
    border: none;
    padding:0;
    margin-bottom: 1.2em;

    position: relative;
    cursor: pointer;
}

header > section:nth-of-type(2) > ul > li > button > span {
    width: 1.5em;
    height: 0.05em;

    background-color: var(--secondary);

    position: absolute;

    transition:.3s;
}

header > section:nth-of-type(2) > ul > li > button > span:nth-of-type(1){
    transform: translateY(-.4em);
}

header > section:nth-of-type(2) > ul > li > button > span:nth-of-type(3){
    transform: translateY(.4em);
}

header > section:nth-of-type(2).menuOpen > ul > li > button > span:nth-of-type(1) {
    transform: rotate(-45deg) scaleX(1.2);
    
}

header > section:nth-of-type(2).menuOpen > ul > li > button > span:nth-of-type(2) {
    transform: scaleX(0);
}

header > section:nth-of-type(2).menuOpen > ul > li > button > span:nth-of-type(3) {
    transform: rotate(45deg) scaleX(1.2);
}


/* Sidebar Close Button */

header > section:nth-of-type(2) > nav:first-of-type > button {
    appearance: none;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
}

header > section:nth-of-type(2) > nav:first-of-type > button > img {
    width: 1.3em;
    padding-left: 1em;
    padding-top: 2em;
}

/* Sidebar Nav */

header > section:nth-of-type(2) > nav:first-of-type {
    position: fixed;
    top: 0;
    left: 0;
    right: 20%;
    bottom: 0;
    transform: translateX(-100%);
    background-color: var(--sidebarMenu);
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    z-index: 90;
}

header > section:nth-of-type(2).menuOpen nav:first-of-type {
    transform: translateX(0);
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

header > section:nth-of-type(2) > nav:first-of-type > ul {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: .5em;
}

header > section:nth-of-type(2) > nav:first-of-type > ul > li  {
    list-style-type: none;
    line-height: 4em;
    border-bottom: .005em solid var(--listBeforeHover);
    display: flex;
    justify-content: space-between;
}

header > section:nth-of-type(2) > nav:first-of-type > ul > li:last-of-type  {
    border-bottom: none;
    padding-top: .5em;
}

header > section:nth-of-type(2) > nav:first-of-type > ul > li:last-of-type > a {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    color: var(--listBeforeHover);
    font-size: 1em;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0;
}

header > section:nth-of-type(2) > nav:first-of-type > ul > li > a {
    color: var(--secondary);
    text-decoration: none;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: .8em;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: .2em;
}

header > section:nth-of-type(2) > nav:first-of-type > ul > li > ul {
    max-height: 0;
    overflow: hidden;

    transition: 1s;
}

header > section:nth-of-type(2) > nav:first-of-type > section {
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: 1fr max-content 1fr;
    border-top: .005em solid var(--listBeforeHover);
}

header > section:nth-of-type(2) > nav:first-of-type > section > ul:first-of-type {
    list-style: none;
    appearance: none;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
}

header > section:nth-of-type(2) > nav:first-of-type > section > ul:first-of-type > li {
    list-style-type: none;
    line-height: 4em;
    width: 100%;
    padding-top: .5em;
    padding-left: 2em;
    display: flex;
    justify-content: space-between;
    padding-right: 1.5em;
    padding-top: 1em;
}

header > section:nth-of-type(2) > nav:first-of-type > section > ul:first-of-type > li > select {
    list-style: none;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: .7em;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: .2em;
    color: var(--listBeforeHover);
}

header > section:nth-of-type(2) > nav:first-of-type > section > ul:last-of-type { 
    padding-bottom: 25px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-left: .005em solid var(--listBeforeHover)
}

header > section:nth-of-type(2) > nav:first-of-type > section > ul:last-of-type > li {
    margin-top: 1em;
    padding: 0;
}

header > section:nth-of-type(2) > nav:first-of-type > section > ul:last-of-type  > li:first-of-type {
    padding-left: 2em;
}

header > section:nth-of-type(2) > nav:first-of-type > section > ul:last-of-type  > li > a > img{
    width: 1em;
    margin-right: 2em;
}



/* Submenu Button */

header > section:nth-of-type(2) > nav:first-of-type > ul > li > button {
    appearance: none;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    z-index: 100;
}

header > section:nth-of-type(2) > nav:first-of-type > ul > li > button > span {
    width: .7em;
    height: 0.15em;
    background-color: var(--listBeforeHover);
    position: absolute;
    transition:.3s;
    transform:rotate(-90deg) scaleX(1.2)
}

header > section:nth-of-type(2) > nav:first-of-type > ul > li > button > span:nth-of-type(2) {
    width: .7em;
    height: 0.15em;
    background-color: var(--listBeforeHover);
    position: absolute;
    transition:.3s;
    transform:rotate(0deg) scaleX(1.2)
}




/* Nav */

header > section:nth-of-type(2) > nav:nth-of-type(2) {
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > section:nth-of-type(2) > nav:nth-of-type(2) > ul > li > select {
    margin: 0;
    padding: 0em;
    display: inline-block;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    background-color: transparent;
    color: var(--headerOneButton);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: .2em;
    border: none;
}

header > section:nth-of-type(2) > nav:nth-of-type(2) > ul > li > select:hover {
    color: var(--secondary);
}

header > section:nth-of-type(2) > nav:nth-of-type(2) > ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    text-align: right;
}

header > section:nth-of-type(2) > nav:nth-of-type(2) > ul > li {
    list-style-type: none;
} 

header > section:nth-of-type(2) > nav:nth-of-type(2) > ul > li > img {
    width: 1.3em;
    margin: 0;
    padding-left: .3em;
    padding-right: .3em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
}




/* Dark Mode */

body > header > section:nth-of-type(2) > nav:nth-of-type(2) > img {
    width: 1.3em;
    cursor: pointer;
    padding-left: .3em;
    padding-right: .3em;
}




/* Footer  */

footer {
    background-color: var(--primary);
    color: var(--secondary);
    display: block;
    padding: 1.5em ;
}

footer > section {
    margin-bottom: 3em;
}

footer > section > h3 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: .2em;
    line-height: 1.65;
}

footer > section:first-of-type > ul {
    margin: 0;
    padding: 0;
    line-height: 2em;
}

footer > section:nth-of-type(2) > ul {
    margin: 0;
    padding: 0;
    line-height: 2em;
}

footer > section > ul > li {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    list-style: none;
    font-weight: 400;
}

footer > p {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    display: flex;
    text-align: center;
    letter-spacing: .2em;

    flex-wrap: wrap;
    line-height: 1.8;
    padding-top: 1em;
}

footer > section > h3 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;;
    font-weight: 500;
    letter-spacing: .2em;
    line-height: 1.65;
    margin-bottom: 1.25em;
}

footer > section:nth-of-type(3) > p {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    list-style: none;
    line-height: 1.65;
    margin: 0;
    padding: 0;
}

footer > section:nth-of-type(3) > form {
    list-style: none;
    line-height: 1.65;
}

footer > section:nth-of-type(3) > form > input {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    display: block;
    padding: 0.75em 0.875em;
    border-radius: 0;
    background-color: transparent;
    border: 0.1em solid var(--headerOne);
    width: 17em;
    color: var(--listBeforeHover);
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer > section:nth-of-type(3) > form > button {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: .2em;
    line-height: 1.65;
    background-color: var(--callToAction);
    color: var(--secondary);

    text-decoration: none;
    border-radius: 0;
    border: transparent;
    outline: none;
    padding: 0.875em 1.75em;
    margin-top: .5em;
    margin-bottom: .5em;
}

footer > section:nth-of-type(3) > form > button:hover {
    background-color: var(--hoverColor);
}

footer > section:nth-of-type(4) > h2 {
    font-size: 0.9em;
    margin-bottom: 1.5em;
}

footer > section:nth-of-type(4) > ul { 
    padding-bottom: 25px;
    display: flex;
    margin: 0;
    padding: 0;
}

footer > section:nth-of-type(4) > ul > li {
    margin-top: 0.2em;
    padding: 0;
}

footer > section:nth-of-type(4) > ul > li > a > img{
    width: 1em;
    margin-right: 2em;
}

footer > section:last-of-type > ul { 
    border-top: .1em solid var(--borderFooter);
    margin: 3.375em -1.5em 0;
    padding-top: 1.75em;
    padding-left: .45em;
    padding-right: .45em;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer > section:last-of-type > ul > li {
    list-style: none;
    margin: .6em;
}

footer > section:last-of-type > ul > li > img{
    width: 2.5em;
}

footer > select {
    border: 1px solid var(--langBorder);
    color: var(--langText);
    padding: 0.2em 0.3em; 
    width: 10em;
    display: block;
    position: fixed;
    bottom: 0;
    right: 8%;
    justify-content: end;
    font-size: 1em;
    text-align: left;
    line-height: 1em; 
    margin: 0;
}

